*{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            font-family:'Poppins',sans-serif;
            background:linear-gradient(135deg,#050505,#07140d,#000000);
            overflow-x:hidden;
            min-height:100vh;
            position:relative;
            color:white;
        }

        /* ================= GLASS ================= */

        .glass{
            background:rgba(8,28,18,0.55);
            backdrop-filter:blur(14px);
            border:1px solid rgba(255,255,255,0.08);
        }

        /* ================= GLOW ================= */

        .glow{
            box-shadow:
            0 0 20px rgba(132,204,22,0.10),
            0 0 60px rgba(16,185,129,0.08);
        }

        /* ================= ANIMATION ================= */

        .animate-soft{
            animation:softMove 5s ease-in-out infinite;
        }

        @keyframes softMove{

            0%{
                transform:translateY(0px) scale(1);
            }

            50%{
                transform:translateY(-8px) scale(1.02);
            }

            100%{
                transform:translateY(0px) scale(1);
            }

        }

        /* ================= CARD HOVER ================= */

        .card-hover{
            transition:0.4s ease;
        }

        .card-hover:hover{
            transform:translateY(-6px);
            border-color:rgba(52,211,153,0.4);
        }

        /* ================= BUTTON SHINE ================= */

        .shine-btn{
            position:relative;
            overflow:hidden;
        }

        .shine-btn::before{

            content:'';
            position:absolute;
            top:0;
            left:-120%;
            width:50%;
            height:100%;

            background:linear-gradient(
                120deg,
                transparent,
                rgba(255,255,255,0.45),
                transparent
            );

            transform:skewX(-25deg);

            animation:shine 4s infinite;
        }

        @keyframes shine{

            100%{
                left:150%;
            }

        }

        /* ================= SCROLLBAR ================= */

        ::-webkit-scrollbar{
            width:8px;
        }

        ::-webkit-scrollbar-thumb{
            background:#65a30d;
            border-radius:10px;
        }