
{% {% extends "base.html" %} base.html %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Providers</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white p-10">

<h1 class="text-4xl font-bold mb-8">
    Approved Providers
</h1>

<div class="grid md:grid-cols-3 gap-6">

{% for provider in providers %}

<div class="bg-zinc-900 rounded-3xl p-6">

    <img src="{{ provider.profile_picture.url }}"
         class="w-24 h-24 rounded-full mx-auto">

    <h2 class="text-center mt-4 text-xl font-bold">
        {{ provider.full_name }}
    </h2>

    <p>{{ provider.service }}</p>
    <p>{{ provider.phone }}</p>
    <p>{{ provider.email }}</p>
    <p>{{ provider.experience }}</p>

</div>

{% endfor %}

</div>

</body>
</html>